@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
  --yyellow: #ECB960;
  --ppurple: #565AA4;
  --rred: #E36832;
  --ppink: #EC97AE;
  --wwhite: #EEE4D2;
}


main{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-left: 100px;
  padding-right: 100px;
  background-color: var(--ppurple);
}

nav{
  background-color: var(--yyellow);
  width: 800px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

nav ul li:hover{
  background-color: white;
}

#topmenu{
  width: 1000px;
  margin: 0 auto;
}

header img{
  height: 100px;
}

header *{
  display: inline;
  margin-top: 30px;
  align-items: center;
}
#signupmove{
  margin-left: 110px;
}
#topmenu ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

#topmenu ul li{
  text-decoration: none;
  font-size: 25px;
  color: var(--wwhite);
}

#topmenu ul li:hover{
  background-color: var(--ppink);
}

h1{
  color: var(--ppink);
}

#aboutus{
  font-size: 50px;
}

#who{
  width: 835px;
  height: auto;
  background: var(--rred);
  color: var(--wwhite);
  font-weight: 400;
  border-radius: 15px;
  padding: 20px;

}

#how{
  width: 835px;
  height: auto;
  background: var(--rred);
  color: var(--wwhite);
  font-weight: 400;
  border-radius: 15px;
  padding: 20px;
}

#services{
  width: 835px;
  height: auto;
  background: var(--rred);
  color: var(--wwhite);
  font-weight: 400;
  border-radius: 15px;
  padding: 20px;
}

#features{
  width: 835px;
  height: auto;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-column-gap: 50px;
  background: var(--rred);
  color: var(--wwhite);
  font-weight: 400;
  border-radius: 15px;
  padding: 20px;
}

#reviews{
    width: 835px;
    height: auto;
    background: var(--rred);
    color: var(--wwhite);
    font-weight: 400;
    border-radius: 15px;
    padding: 20px;
  }

#stats{
    width: 835px;
    height: auto;
    background: var(--rred);
    color: var(--wwhite);
    font-weight: 400;
    border-radius: 15px;
    padding: 20px;
    }
