@import "desktop.css";

header {
  width: 460px;
}

main {
  width: 460px;
}

footer {
  width: 460px;
}


nav {
  width: 350px;
}

nav ul{
  margin-left: -20px;
}

nav ul li {
  display: block;
  text-align: center;
}

#topmenu{
  width: 400px;
  margin: 0 auto;
}

header img{
  height: 30px;
}

header *{
  display: inline;
  margin-top: 30px;

}
#signupmove{
  margin-left: 0px;
}

#topmenu ul {
  margin-left: -20px;]
  '[]'
}
#topmenu ul li{
  list-style: none;
  display: inline-block;
  margin-right: 0px;
  padding: 0px;
}

#topmenu ul li{
  text-decoration: none;
  font-size: 8px;
  color: var(--wwhite);
}

#topmenu ul li:hover{
  background-color: var(--ppink);
}
