
body{
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: var(--ppurple);
}

nav{
  width: 800px;
}

nav ul li{
  display: inline-block;
}

#topmenu{
  width: 1000px;
}

header img{
  height: 100px;
}
header #headercontent *{
  padding-top: 30px;
  padding-left: 50px;
}

#fixed{
  position: fixed;
  background: var(--ppurple);
  width: 100%;
  /* height:380px; */
}

#services{
  width: 835px;
  height: auto !important;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-column-gap: 20px;
}

.servicesgraphics img{
  width: 150px;
  /* display: block; */
  margin: 0 auto;
}


#signupmove{
  margin-left: 110px;
}

#topmenu ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  font-size: 25px;
}

h1{
  color: var(--ppink);
}

#aboutus{
  font-size: 50px;
}

#who{
  width: 835px;
  height: auto;
}

#how{
  width: 835px;
  height: auto;
}

#how img{
  width: 90%;
}

#howitworksimg{
  width: 800px;
  height: 280px;
  background-image: url("howitworks.png");
  background-repeat: no-repeat;
}

#features{
  width: 835px;
  height: auto;
  display: grid;
  text-align: center;
  grid-template-rows: 100px 100px;
  grid-template-columns: 120px 120px 120px 120px 120px;
  grid-column-gap: 50px;
}

#reviews{
  width: 835px;
  height: 217px;
}

#reviewsimg{
  width: 800px;
  height: 280px;
  background-image: url("reviews.png");
  background-repeat: no-repeat;
  padding-left: 37px;

}

#stats{
  width: 835px;
  height: 150px;
}

#stats img{
  width: 90%;
}

#statsimg{
  width: 830px;
  background-image: url("stats.png");
  background-repeat: no-repeat;
}
