@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
  --yyellow: #ECB960;
  --ppurple: #565AA4;
  --rred: #E36832;
  --ppink: #EC97AE;
  --wwhite: #EEE4D2;
}


header{
  position: fixed;
  background: var(--ppurple);
  width: 100%;
}

header #headercontent *{
  display: inline;
  align-items: center;
}

#topmenu{
  width: 1000px;
  margin: 0 auto;
}


#fixed{
  position: fixed;
  background: var(--ppurple);
}

  .midnightHeader.default {
    color: var(--rred);
  }
  .midnightHeader.yyellow {
    color: var(--yyellow);
  }
  .midnightHeader.rred {
    color: var(--rred);
  }
  .midnightHeader.wwhite {
    color: var(--wwhite);
  }
main{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

body{
  padding-top: 150px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding-left: 100px;
  padding-right: 100px;
  background-color: var(--ppurple);
}

nav{
  background-color: var(--yyellow);
  width: 800px;
  margin: 0 auto;
  border-radius: 12px;
  text-align: center;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}

nav ul li:hover{
  background-color: white;
}


.servicesgraphics img{
  width: 70px;
  display: block;
  margin: 0 auto;
}

.servicesgraphics {
height: auto;
/* display: grid;
grid-template-rows: 75px 70px 80px;
grid-template-columns: 150px 150px 150px 150px 150px;
grid-column-gap: 20px; */
margin-top: 10px;
text-align: center;
}

#services{
  height: auto;
  background: var(--rred);
  color: var(--wwhite);
  font-weight: 400;
  border-radius: 15px;
  padding: 20px;
}

#signupmove{
  margin-left: 110px;
}
#topmenu ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
}

#topmenu ul li:hover{
  background-color: var(--ppink);
}

h1{
  color: var(--ppink);
}

#aboutus{
  font-size: 50px;
}

#who{
  width: 835px;
  height: auto;
  background: var(--rred);
  color: var(--wwhite);
  font-weight: 400;
  border-radius: 15px;
  padding: 20px;

}

#how{
  width: 835px;
  height: auto;
  background: var(--rred);
  color: var(--wwhite);
  font-weight: 400;
  border-radius: 15px;
  padding: 20px;
}

#how img{
  width: 90%;
}

#howitworksimg{
  width: 800px;
  height: 280px;
  background-image: url("howitworks.png");
  background-size: contain;
  background-repeat: none;
}


#features{
  width: 835px;
  height: auto;
  display: grid;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-column-gap: 50px;
  background: var(--rred);
  color: var(--wwhite);
  font-weight: 400;
  border-radius: 15px;
  padding: 20px;
}

#reviews{
    width: 835px;
    height: auto;
    background: var(--rred);
    color: var(--wwhite);
    font-weight: 400;
    border-radius: 15px;
    padding: 20px;
  }

  #reviewsimg{
    width: 800px;
    height: 280px;
    background-image: url("reviews.png");
    background-size: contain;
    background-repeat: none;
  }


#stats{
    width: 835px;
    height: auto;
    background: var(--rred);
    color: var(--wwhite);
    font-weight: 400;
    border-radius: 15px;
    padding: 20px;
    }


#stats{
      width: 835px;
      height: auto;
      background: var(--rred);
      color: var(--wwhite);
      font-weight: 400;
      border-radius: 15px;
      padding: 20px;
    }

#stats img{
      width: 90%;
    }

#statsimg{
    width: 800px;
    height: 280px;
    background-image: url("stats.png");
    background-size: contain;
    background-repeat: none;
    }
