header {
  width: 460px;
}

#signupmove{
  margin-left: 170px;
}

#topmenu ul {
  margin-left: -40px;
}
#topmenu ul li{
  list-style: none;
  display: inline-block;
  margin-right: 0px;
  padding: 0px;
  font-size: 8px;
}

#topmenu{
  width: 400px;
}

header img{
  height: 30px;
}


/* CHANGE */
#fixed{
  height:224px;
}


main {
  width: 460px;
}

footer {
  width: 460px;
}

body{
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--ppurple);
}

nav {
  width: 350px;
}

nav ul{
  margin-left: -20px;
}

nav ul li {
  display: block;
  text-align: center;
}

#services{
  width: 380px;
  height: auto;
}

.servicesgraphics {
  display: inline-block;
  text-align:center;
}

.servicesgraphics img {
  /* float:center; */
  padding-right:20px;
  width: 150px;
}


#aboutus{
  font-size: 40px;
}

#who{
  width: 380px;
  height: auto;
}

#how{
  width: 380px;
  height: auto;
}

#howitworksimg{
  height: 570px;
  background-image: url("howitworksvertical.png");
  background-repeat: no-repeat;
}

#features{
  width: 380px;
  height: 650px;
  display: block;
  padding-left: 30px;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-column-gap: 20px;
}

#reviews{
  width: 380px;
  height: auto;
}

#reviewsimg{
  height: 450px;
  background-image: url("reviewsvertical.png");
  background-repeat: no-repeat;
  background-position: 19px;
}

#stats{
  width: 380px;
  height: auto;
}

#statsimg{
  height: 500px;
  text-align: center;
  background-image: url("statsvertical.png");
  background-repeat: no-repeat;
}
