@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,700&display=swap');


  header {
    background-color: #f8ca9d;
    width: 920px;
    height: auto;
    padding: 20px 20px 20px 20px;
    margin: 10px auto 30px auto;
    margin: 0 auto;
    margin-top: -10px;
  }

  img {
    width: 200px;
  }

  main {
    background-color: #f8ca9d;
    width: 910px;
    padding: 20px;
    height: auto;
    border-width: 5px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;

  }
  body{
    font-family: 'Libre Franklin', sans-serif;
    /* R:181 G:53 B:145 */
    font-weight: 300;
  }
  footer{
      background-color: green;
      width: 960px;
      height: 100px;
      margin: 0 auto;
  }

  nav{
    background-color: lightblue;
    width: 500px;
    margin: 0 auto;
  }

  nav ul{


  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
  }

  nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
  }

  nav ul li:hover{
    background-color: white;
  }

  #about {
    width: 860px;
    height: auto;
    border-style: solid;
    border-color: #fa6e4f;
    border-width: 20px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 200px 400px 200px;
    grid-column-gap: 20px;
      }

  #care1 {
    width: 860px;
    height: auto;
    border-style: solid;
    border-color: #fa6e4f;
    border-width: 20px;
    margin: 20px auto;

      }

      #care {
        display: grid;
        grid-template-rows: 300px;
        grid-template-columns: 250px 100px 100px 250px;
        grid-column-gap: 20px;
      }

      #care img {
        width: 80px;

      }

#feeding1 {
    width: 860px;
    height: auto;
    border-style: solid;
    border-color: #fa6e4f;
    border-width: 20px;
    margin: 20px auto;
  }

    #feeding {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-column-gap: 20px;
}
  #feeding img{
    width: 100px;
  }

  #grooming1 {
      width: 860px;
      height: auto;
      border-style: solid;
      border-color: #fa6e4f;
      border-width: 20px;
      margin: 20px auto;
    }

      #grooming {
      display: grid;
      grid-template-rows: 200px;
      grid-template-columns: 250px 250px 250px;
      grid-column-gap: 20px;
  }

    #grooming2 {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 250px 250px 250px;
    grid-column-gap: 20px;
  }

  #grooming2 img{
    width: 200px;
    height: 135px;
  }

    #grooming img{
      width: 200px;
      height: 135px;
    }
