@import "desktophw.css";


    header {
      width: 460px;
    }

    main {
      width: 460px;
    }

    footer {
      width: 460px;
    }


    nav {
      width: 350px;
    }

    nav ul{
      margin-left: -20px;
    }

    nav ul li {
      display: block;
      text-align: center;
    }

    #about{
      width: 380px;
      display: block;
      text-align: center;
    }

    #care{
      width: 380px;
      display: block;
      /* text-align: center; */
    }

    #care section img{

      width: 185px;
    }

    #care ul{
      width: 330px;
      margin:0 auto;
    }

    #care1 {
      width: 380px;
      height: 870px;
      /* text-align: center; */
    }

    #feeding{
      width: 380px;
      display: block;
      text-align: center;
    }

    #feeding1 {
      width: 380px;
      height: 1000px;
      text-align: center;
    }

    #grooming1 {
      width: 380px;
      display: block;
      text-align: center;
    }

    #grooming {
      width: 380px;
      display: block;
      text-align: center;
    }

    #grooming2 {
      width: 380px;
      display: block;
      text-align: center;
    }

    #grooming img{
      width: 150px;
      height: 100px;
    }

    #grooming2 img{
        width: 150px;
        height: 100px;
      }

      .carecare img {
        width: 122px !important;
        margin: 0 auto;
      }
