@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,700&display=swap');

body{
  font-family: 'Libre Franklin', sans-serif;
  /* R:181 G:53 B:145 */
  padding: 1em;
  font-weight: 300;
}

h1{
    color: rgb(181, 53, 145);
}

h2{
    color: rgb(181, 53, 145);
    text-indent: 20px;
}
h3{
    color: rgb(181, 53, 145);
    font-weight: 400;
}

#name {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
}

#personalinfo{
  text-align: center;
  color: rgb(134, 193, 246);
}

#boxA {
border-left-style: solid;
border-right-style: solid;
border-top-style: solid;
border-bottom: solid;
border-right-width: 40px;
border-left-width: 40px;
border-top-width: 40px;
border-bottom-width: 20px;
border-color: rgb(134, 193, 246);
padding-top: 20px;
}

.BoxB {
border-left-style: solid;
border-right-style: solid;
border-top-style: solid;
border-bottom: solid;
border-right-width: 40px;
border-left-width: 40px;
border-top-width: 20px;
border-bottom-width: 20px;
border-color: rgb(134, 193, 246);
padding: 20px;
}

#boxC {
border-left-style: solid;
border-right-style: solid;
border-top-style: solid;
border-bottom: solid;
border-right-width: 40px;
border-left-width: 40px;
border-top-width: 20px;
border-bottom-width: 10px;
border-color: rgb(134, 193, 246);
padding: 20px;
}

.BoxD {
border-left-style: solid;
border-right-style: solid;
border-top-style: solid;
border-bottom: solid;
border-right-width: 40px;
border-left-width: 40px;
border-top-width: 10px;
border-bottom-width: 10px;
border-color: rgb(134, 193, 246);
padding: 20px;
}

#BoxE {
border-left-style: solid;
border-right-style: solid;
border-top-style: solid;
border-bottom: solid;
border-right-width: 40px;
border-left-width: 40px;
border-top-width: 10px;
border-bottom-width: 20px;
border-color: rgb(134, 193, 246);
padding: 20px;
}

#BoxF {
border-left-style: solid;
border-right-style: solid;
border-top-style: solid;
border-bottom: solid;
border-right-width: 40px;
border-left-width: 40px;
border-top-width: 20px;
border-bottom-width: 40px;
border-color: rgb(134, 193, 246);
padding: 20px;
}

#pdflink{
  text-align: center;
  color: rgb(181, 53, 145);
  font-size: 25px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.assocsoft{
  text-indent: 40px;
  }


.company {
  text-indent: 30px
  }

.position {
  text-indent: 40px
  }

.dates {
  text-indent: 20px
  }

.jobdesc {
    /* text-indent: 60px; */
  margin-left: 40px;
  }

.schoolinfo {
  margin-left: 40px;
  }

  table {
    margin-left: 60px;
  }


a{
color: rgb(134, 193, 246);
text-decoration: none;
}

a:visited {
/* color: rgb(134, 193, 246); */
color: rgb(181, 53, 145);
}

a:hover {
color: rgb(181, 53, 145);
}


td{
text-align: left;
color: rgb(0, 0, 0);
width: 300px;
}

td span{
  font-size: 20px;
  font-weight: 900;
  line-height: 10px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
h1 {
  animation: fadeOut 4s infinite;
}
