@import "desktop.css";

header {
  width: 460px;
}

main {
  width: 460px;
}

footer {
  width: 460px;
}

body{
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--ppurple); 
}

nav {
  width: 350px;
}

nav ul{
  margin-left: -20px;
}

nav ul li {
  display: block;
  text-align: center;
}

#topmenu{
  width: 400px;
  margin: 0 auto;
}

header img{
  height: 30px;
}

header *{
  display: inline;
  margin-top: 30px;

}
#signupmove{
  margin-left: 170px;
}

#topmenu ul {
  margin-left: -40px;
}
#topmenu ul li{
  list-style: none;
  display: inline-block;
  margin-right: 0px;
  padding: 0px;
}

#topmenu ul li{
  text-decoration: none;
  font-size: 8px;
  color: var(--wwhite);
}

#topmenu ul li:hover{
  background-color: var(--ppink);
}

#aboutus{
  font-size: 40px;
}

#who{
  width: 380px;
  height: auto;
}

#how{
  width: 380px;
  height: auto;
}

    #howitworksimg{
      width: 380px;
      height: 200px;
      background-image: url("howitworksvertical.png");
      background-size: cover;
      background-repeat: none;
    }

#services{
  width: 380px;
  height: auto;
}

#servicesgraphics{
  display: inline-table;
}

#features{
  width: 380px;
  height: auto;
  display: block;
  grid-template-rows: 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
  grid-column-gap: 20px;
}

#reviews{
    width: 380px;
    height: auto;
  }

#stats{
    width: 380px;
    height: auto;
    }
